/* Gave the label some margin spacing for hte top */
.label-for-filter {
    margin-right: 1rem;
    
}

/* Same as above, created some margin for hte left */
.search-bar-label {
    margin: 0 1rem;
}

/* Adjusted the search Bar width */
.search-bar {
    width: 35%;
}


/* Ensured the top bar  sits correctly in mobile view*/

@media only screen and (max-width: 600px) {
    .search-section {
        display: flex;
        flex-wrap: wrap;
    }

    .search-bar-label {
        margin: 0;
    }

    .search-bar {
        width: 60%;
    }

}