/* contents of the top bar */
/* setting height of it's contents, using flex to position the contents correctly */
.topBarContents {
   height: 10vh;
   background-color: red;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   color: white;
}

/* positioning filter drop down and label */
.filter-dropdown {
    margin-right: 2rem;
    width: 70px;
}

/* Positioning some spacing between drop down box and filter by label */
.label-for-filter {
    margin-right: 1rem;
}

